* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body  {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cards {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.cards .card {
    border-radius: 10px;
    perspective: 800px;
    transform-style: preserve-3d;
    width: calc(95% / 4);
    margin-top: 15px;
}
.cards .card div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.cards .card .front {
   background-image: url("/images/profileyoutube.png"); 
    background-position: center;
    background-size: cover;
}

.cards .card .back {
    background-position: center;
    background-size: cover;
    transform: rotateY(180deg);
}
.result {
    position: absolute;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.result input {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
 
}
.result h3 {
    text-align: center;
    font-size: 30px;
    color: green;
}

@media (max-width: 600px) {
    body {
        display: flex;
        align-items: flex-start;
    }
    .cards {
        width: 100%;
        height: 100%;
    }
    .cards .card {
        width: calc(95% / 3);
        height: 180px;
        margin-top: 5px;
    }
}